#darkmode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

.darkmode-switch {
    width: 55px;
    height: 30px;
    background: #bbb;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.darkmode-switch.dark {
    background: #2f2f2f;
}

.darkmode-circle {
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: 0.3s;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkmode-switch.dark .darkmode-circle {
    transform: translateX(25px);
}

/* MODO OSCURO GENERAL */
.dark body {
    background: #1a1a1a !important;
    color: white !important;
}

.dark .container-box {
    background: #222 !important;
    color: white !important;
    box-shadow: 0 0 12px #444 !important;
}

.dark .form-control {
    background: #333 !important;
    color: white !important;
    border-color: #666;
}

.dark .btn-success {
    background: #0c7a0c !important;
}

.dark #grafico {
    filter: invert(1) hue-rotate(180deg);
}

